{% extends 'base.html' %}


{%block title%}{% endblock %}

{%block body%}

{% if messages %}
{% for message in messages %}


<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Well Done!</strong> {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

{% endfor %}
{% endif %}

{% if request.session.Teacher_id %}

<div class="container mt-5 col-lg-5 col-md-8 shadowss blur-background ">
    <div style="padding: 20px; text-align: center;">
        <h2 style="text-align: center">Welcome, {{request.session.Teacher_name}} Teachers</h2>


        <div class="card container bg-info" style="width: 18rem;">

            <ul class="list-group list-group-flush">
                <li class="list-group-item pb-4.5">

                    <form action="/sir_course" method="POST">{% csrf_token %}
                        <div class="form-group">
                            <input type="hidden" name="teach_course_id" value="{{request.session.Teacher_id}}"
                                class="form-control" id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="btn btn-outline-info btn-sm">Go To Your Classroom</button>
                    </form>

                </li>

            </ul>
        </div>



    </div>
</div>




{% elif request.session.Stu_id %}

<div class="container mt-5 col-lg-5 col-md-8 blur-background shadowss">
    <div style="padding: 20px; text-align: center;">
        <h2 style="text-align: center">Welcome, {{request.session.Stu_name}}!</h2>
        <br>

        <div class="card container bg-info" style="width: 18rem;">

            <ul class="list-group list-group-flush">
                <li class="list-group-item pl-2.5 pb-4">

                    <form action="/stu_course" method="POST">{% csrf_token %}
                        <div class="form-group">
                            <input type="hidden" name="stu_course_id" value="{{request.session.Stu_id}}"
                                class="form-control" id="exampleInputPassword3">
                        </div>
                        <button type="submit" class="btn btn-outline-info btn-sm">Go To Your Classroom</button>
                    </form>

                </li>

            </ul>

        </div>
        <br>

    </div>
</div>




{% else %}
<div class="container mt-5 col-lg-5 col-md-8shadowss blur-background" style="margin-bottom:20px;">
    <div style="padding: 20px; text-align: center;">
        <h1 class="display-4"><b>Online Assignment Submission</b></h1>
        <p class="lead">Welcome!</p>
        <hr class="my-4">
        <p>Got an Assignment to submit? Login Now!!!</p>
        <a class="btn btn-success btn-lg btn-block" href="login" role="button"><b>Login</b></a>
    </div>
    <br><br>




    <!-- Quote Generator  -->
    <div style="text-align: center; font-weight: 600;" class="quote-container" id="quote-container">
        <h5>Quote of the Day!</h5>
        <div class="quote-text">
            <!-- <i class="fas fa-quote-left"></i> -->
            <span id="quote">Loading...</span>


        </div>
        <!-- Author -->
        <div class="quote-author">
            <hr>
            <span id="author"></span>
        </div>
        <!-- Buttons -->
        <div class="button-container">
            <button class="twitter-button button-quote" id="twitter" title="Tweet!">
                <i class="fab fa-twitter"></i>
            </button>
            <button class="button-quote" id="new-quote" onClick="window.location.reload();">New Quote</button>
        </div>
    </div>
    <script>          /* JS for Quote Generator */
        const quoteContainer = document.getElementById('quote-container');
        const quoteText = document.getElementById('quote');
        const authorText = document.getElementById('author');
        const twitterBtn = document.getElementById('twitter');
        const newQuote = document.getElementById('new-quote');
        const instagramBtn = document.getElementById('instagram')


        // Get the APIs
        async function getQuote() {
            const proxyUrl = 'https://cors-anywhere.herokuapp.com/';
            const apiUrl = 'http://api.forismatic.com/api/1.0/?method=getQuote&lang=en&format=json';
            try {
                const response = await fetch(proxyUrl + apiUrl);
                const data = await response.json();
                /* If Author name is blank */
                if (data.quoteAuthor === '') {
                    authorText.innerText = 'Unknown';
                } else {
                    authorText.innerText = data.quoteAuthor;
                }
                //Reduce font size for long quotes
                if (data.quoteText.length > 50) {
                    quoteText.classList.add('long-quote');
                } else {
                    quoteText.classList.remove('long-quote')
                }
                quoteText.innerText = data.quoteText
            } catch (error) {
                //getQuote();
                console.log("Error", error);
            }
        }

        function tweetQuote() {
            const quote = quoteText.innerText;
            const author = authorText.innerText;
            const twitterUrl = `https://twitter.com/intent/tweet?text=${quote} - ${author}`;
            window.open(twitterUrl, '_blank ');

        }
        //Even Elements
        twitterBtn.addEventListener('click', tweetQuote);

        // Load Page
        getQuote();
    </script>
</div>

{% endif %}




{% endblock %}